body {
  background-color: white;
}

#output {
  display: none;
}

.hidden {
  display: none;
}

.heading {
  height: 200px;
  padding-top: 5%;
  text-align: center;
}

#teaser {
  color: #617aa3;
  font-size: 15pt;
  display: none;
}

#more {
  color: grey;
}

#title {
  width: 300px;
}

#entry-body {
  width: 500px;
}

#entry-output {
  font-size: 15pt;
}
